<!DOCTYPE html>
<html>
<head>
    <title>Test Mode</title>
    <link rel="stylesheet" type="text/css" href="../static/test_mode.css">
</head>
<body>
    <h1>Encryption and Decryption</h1>
    
    <div class="form-container">
        <div class="form-row">
            <label for="type">Select form:</label>
            <select title="Select the input information form:" name="form" id="form-select">
                <option value="Binary" selected>Binary</option>
                <option value="Hex">Hex</option>
                <option value="ASCII">ASCII</option>
            </select>
        </div>
        <div class="form-row">
            <label for="message">Message:</label>
            <input type="text" id="message" placeholder="Enter your message">
        </div>
        <div class="form-row">
            <label for="key">Key:</label>
            <input type="text" id="key" placeholder="Enter your key">
        </div>
    </div>

    <div class="buttons-container">
        <button id="Encrypt" onclick="encryptMessage()">Encrypt</button>
        <button id="Decrypt" onclick="decryptMessage()">Decrypt</button>
    </div>

    <div id="iframeContainer">
        <iframe title="iframe-title" id="iframe" src="about:blank"></iframe>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function sendRequest(form,message,key,action) {
            $.ajax({
                type:"POST",
                url:"/test_mode/"+action,
                timeout:5000,
                contentType: "application/json",
                data: JSON.stringify({              // 将数据转换为JSON字符串
                    form: form,
                    message: message,
                    key:key
                }),
                success:function(responseData){
                    console.log(responseData);
                    if (action == 'encryptMessage'){
                        var my_iframe = document.getElementById('iframe');
                        my_iframe.contentDocument.body.innerHTML = "";
                        if (form == 'ASCII'){
                            var encodedString = responseData;
                            var parser = new DOMParser();
                            var decodedDocument = parser.parseFromString('<!doctype html><body>' + encodedString, 'text/html');
                            var responseData = decodedDocument.body.textContent;
                        }
                        my_iframe.contentDocument.body.innerHTML = "CipherText: " + responseData;
                    }
                    else if (action == 'decryptMessage'){
                        var my_iframe = document.getElementById('iframe');
                        my_iframe.contentDocument.body.innerHTML = "";
                        if (form == 'ASCII'){
                            var encodedString = responseData;
                            var parser = new DOMParser();
                            var decodedDocument = parser.parseFromString('<!doctype html><body>' + encodedString, 'text/html');
                            var responseData = decodedDocument.body.textContent;
                        }
                        my_iframe.contentDocument.body.innerHTML = "PlainText: " + responseData;
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }

        function encryptMessage() {
            event.preventDefault();
            var form = document.getElementById('form-select').value;
            var message = document.getElementById("message").value;
            var key = document.getElementById("key").value;
            if (form === 'Binary' && !isValidBinaryMessage(message)) {
                alert("The len of message(Binary) must be a multiple of 16! Please retype");
                return;
            }

            if (form === 'Hex' && !isValidHexMessage(message)){
                alert("The len of message(Hex) must be a multiple of 4! Please retype");
                return;
            }
            if (form ==='ASCII' && !isValidAsciiMessage(message)){
                alert("The len of message(Ascii) must be a multiple of 2! Please retype")
            }
            if ((form === 'Binary' || form === 'ASCII') && !isValidKey_binary(key)) {
                alert("Key must be Binary(16-bit)! Please retype");
                return;
            }

            if (form === 'Hex' && !isValidKey_hex(key)){
                alert("Key must be Hex(4)! Please retype");
                return;
            }
            sendRequest(form, message, key, 'encryptMessage');
        }

        function decryptMessage() {
            event.preventDefault();
            var form = document.getElementById('form-select').value;
            var message = document.getElementById("message").value;
            var key = document.getElementById("key").value;

            if (form === 'Binary' && !isValidBinaryMessage(message)) {
                alert("The len of message(Binary) must be a multiple of 16! Please retype");
                return;
            }

            if (form === 'Hex' && !isValidHexMessage(message)){
                alert("The len of message(Hex) must be a multiple of 4! Please retype");
                return;
            }
            if (form==='ASCII' && !isValidAsciiMessage(message)){
                alert("The len of message(Ascii) must be a multiple of 2! Please retype")
            }
            if ((form === 'Binary' || form === 'ASCII') && !isValidKey_binary(key)) {
                alert("Key must be Binary(16-bit)! Please retype");
                return;
            }

            if (form === 'Hex' && !isValidKey_hex(key)){
                alert("Key must be Hex(4)! Please retype");
                return;
            }
            sendRequest(form, message, key, 'decryptMessage');
        }

        // message如果是二进制字符串,长度只能是16-bit的整数倍
        function isValidBinaryMessage(message) {
            if (message.length % 16 !== 0 || !/^[01]+$/.test(message)) {
                return false;
            }
            return true;
        }

        function isValidHexMessage(message){
            if (message.length %4 !== 0 || !/^[0-9A-Fa-f]+$/.test(message)){
                return false;
            }
            return true;
        }
        function isValidAsciiMessage(message){
            if (message.length % 2 !==0){
                return false;
            }
            return true;
        }
        // key只能是Binary(16-bit)字符串
        function isValidKey_binary(key){
            if (key.length !== 16 || !/^[01]+$/.test(key)) {
                return false;
            }
            return true;
        }
        //key只能是Hex(4)字符串 addition
        function isValidKey_hex(key){
            var hexPattern = /^[0-9A-Fa-f]{4}$/;
            if (hexPattern.test(key)) {
                return true; 
            } else {
                return false; 
            }
        }

        $(document).ready(function() {
            $("#form-select, #message, #key").change(function() {
                // 重置iframe内容
                var my_iframe = document.getElementById("iframe");
                my_iframe.srcdoc = "";
                });

            $("#Encrypt").click(function() {
                encryptMessage();
            });

            $("#Decrypt").click(function() {
                decryptMessage();
            });
        });
    </script>
</body>
</html>
