<!DOCTYPE html>
<html lang="en">
<head>
    <title>Work Mode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/work_mode.css">
</head>
<body>
    <h1>CBC Work Mode</h1>

    <div class="container">
        <label for="inputText">InputText:</label>
        <input type="text" id="inputText" name="inputText" placeholder="Binary string">
    </div>

    <div class="container">
        <label for="padding">Padding:</label>
        <input type="text" id="padding" name="padding" placeholder="For decryption: default 0">
        </div>
    </div>

    <div class="container">
        <label for="inputKey">InputKey:</label>
        <input type="text" id="inputKey" name="inputKey" placeholder="16-bit Binary mother key">
    </div>

    <div class="action-buttons">
        <button id="encryptionButton" onclick="encryptText()">Encryption</button>
        <button id="decryptionButton" onclick="decryptText()">Decryption</button>
    </div>


    <div id="iframeContainer">
        <iframe title="iframe-title" id="iframe" src="about:blank"></iframe>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function sendRequest(inputText, inputKey, padding, action){
            $.ajax({
                type:"POST",
                url:"/work_mode/"+action,
                timeout:5000,
                contentType: "application/json",
                data: JSON.stringify({              
                    inputText: inputText,
                    inputKey: inputKey,
                    padding: padding,
                }),
                success:function(responseData){
                    //console.log(responseData);
                    if (action=='encryptText'){
                        var responseData = JSON.parse(responseData);
                        var result = responseData.result;
                        var padding = responseData.padding;
                        var my_iframe = document.getElementById('iframe');
                        my_iframe.contentDocument.body.innerHTML = "";
                        my_iframe.contentDocument.body.innerHTML = "Ciphertext:\n" + result + "\n\nPadding:\n " + padding;
                    }
                    else if (action=='decryptText'){
                        console.log(responseData);
                        var my_iframe = document.getElementById('iframe');
                        my_iframe.contentDocument.body.innerHTML = "";
                        my_iframe.contentDocument.body.innerHTML = "Plaintext: " + responseData;
                    }
                }, 
                error: function(xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }

        function encryptText() {
            event.preventDefault();
            var inputText = document.getElementById('inputText').value;
            var inputKey = document.getElementById("inputKey").value;
            var padding = 0;

            if (!isValidBinaryInputText_en(inputText)) {
                alert("The inputText must be Binary! Please retype");
                return;
            }

            if (!isValidKey(inputKey)) {
                alert("Key must be binary(16-bit)! Please retype");
                return;
            }
            sendRequest(inputText, inputKey, padding, 'encryptText');
        }

        
        function decryptText(){
            event.preventDefault();
            var inputText = document.getElementById('inputText').value;
            var inputKey = document.getElementById("inputKey").value;
            var padding = document.getElementById("padding").value;

            if (!isValidBinaryInputText_de(inputText)) {
                alert("The inputText must be binary and a multiple of 16! Please retype");
                return;
            }

            if (!validatePaddingInput(padding, inputText)){
                alert("Padding must be a non-negative integer.");
                return;
            }

            if (padding === ""){
                var padding = parseInt('0',10);
            }
            else{
                var padding = parseInt(padding, 10);
            }

            if (!isValidKey(inputKey)) {
                alert("Key must be binary(16-bit)! Please retype");
                return;
            }
            console.log(inputText)
            console.log(padding)
            console.log(inputKey)
            sendRequest(inputText, inputKey, padding, 'decryptText');
        }

        //加密时对输入内容的要求: 二进制字符串
        function isValidBinaryInputText_en(inputText){
            if (!/^[01]+$/.test(inputText)){
                return false;
            }
            return true
        }
        //解密时对输入内容的要求：二进制字符串,长度是16的整数
        function isValidBinaryInputText_de(inputText){
            if (inputText.length % 16 !== 0 || !/^[01]+$/.test(inputText)){
                return false;
            }
            return true
        }
        //对密钥的要求: 16bits二进制字符串
        function isValidKey(key){
            if (key.length !== 16 || !/^[01]+$/.test(key)) {
                return false;
            }
            return true;
        }
        //对填充值的要求: 0或正整数
        function validatePaddingInput(padding, inputText) {
            if (padding === "") {
                return true; 
            }
            else if (/^[0-9]+$/.test(padding) && parseInt(padding, 10) >= 0 && parseInt(padding, 10) < inputText.length) {
                return true;
            } 
            else { 
                return false;
            }
        }


        $(document).ready(function() {
            $("#inputText, #inputKey, #padding").change(function() {
                // 重置iframe内容
                var my_iframe = document.getElementById("iframe");
                my_iframe.srcdoc = "";
                });

            $("#encryptionButton").click(function() {
                encryptText();
            });

            $("#decryptionButton").click(function() {
                decryptText();
            });

        });

    </script>
</body>
</html>
